body{
    text-align: center;
}

#texto-borde-multiborder{
    border-style: double dashed dashed dotted ;
}


#texto-borde-multiborder2{
    border-style: double dotted  double dotted;
}


#texto-borde-puntitos{
    border-style: dotted;
}

#texto-borde-lineas{
    border-style:dashed;
}

#texto-borde-solido{
    border-style: solid;
}

#texto-borde-doble{
    border-style: double;
}

input{
    border: none;
    background-color: tomato;
}

h1{
    border-style: outset;
}

#texto-borde-inset{
    border-style:inset;
}

