header{
    color: rgb(202, 240, 32);
    font-size: 40px;
    text-align: center;
}

img{
    border-radius: 50px;
}

body{
    background-image: url(https://miro.medium.com/max/2800/0*dR_jn8Nt0M0IXwPW.) ;
}

.input-estilo{
    background-color: lightgreen;
    caret-color: rgb(198, 233, 44);
    color: rgb(46, 10, 204);
}


img:hover{
    text-align: right;
    height: 400px;
    src:local("Foxpro-icon.png");
}

form > label + input {
    font-size: 50px;
}

/* repositorio del profe
https://github.com/joskr3/codigo-frontend-grupo-7
*/